body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  overflow: hidden;
  color: #333;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin-top: 4rem;
  padding-bottom: 6rem !important;
}

@media (max-width: 770px) {
  .container {
    margin: 0 5%;
  }
}