.dialog {
  padding: 2.5rem 0 !important;
}

.title {
  font-weight: bold !important;
}

.red {
  color: red;
}

.bt {
  border-top: 1px solid lightgray !important;
}

.menu {
  padding: 0.5rem 0;
  /* font-weight: 600 !important; */
}

.menu:hover {
  cursor: pointer;
  
}