.logo {
  margin-right: 1rem;
}

.title {
  font-weight: 600 !important;
}

.rank {
  background-color:#808a9d;
  color: #fff;
  padding: 0 0.5rem;
  border-radius: 4px;
}

.price {
  font-weight: 600 !important;
}