.logo {
  margin-right: 1rem;
}

.title {
  font-weight: 600 !important;
}

.subtitle {
  font-weight: 600 !important;
  font-size: 1rem !important;
}

.label {
  color: #58667e;
}

.rank {
  background-color:#808a9d;
  color: #fff;
  padding: 0 0.5rem;
  border-radius: 4px;
}

.price {
  font-weight: 600 !important;
}

.spacer {
  margin-top: 0.5rem !important;
}