.header {
  background-color: #fff !important;
  position: fixed !important;
  top: 0;
}

.logo:hover {
  cursor: pointer;
}

.title {
  color: #333;
  font-weight: 600 !important;
}

.img {
  width: 2rem;
  margin-right: 0.5rem;
}

.menu {
  color: #727cf5;
}

.toolbar {
  display: flex;
  justify-content: space-between;
}

.button a{
  text-decoration: none;
  color: #333;
}

.button2 {
  text-transform: unset !important;
  font-size: 1rem !important;
  font-weight: bold !important;
}

.avatar {
  margin-right: 0.5rem;
  color: #727cf5;
}